<head>
    <%= stylesheet_link_tag 'question' %>
</head>

<!-- Question -->
<h2><%= question.description %></h2>

<!-- Choices Data -->
<% choices = question.choices.order('votes DESC') %>
<% if cookies[:voted_questions].to_s.include?(question.id.to_s) %>
        <% choices_graph_data = {} %>
        <% choices_bar_colors = [] %>
        <% choices.each do |choice| %>
            <% choices_graph_data[choice.name] = choice.vote_percentage(question.total_votes) %>
            <% choices_bar_colors << choice.bar_color %>
        <% end %>
        <!-- vote results chart -->
        <div style="width: 750px">
            <%= bar_chart(choices_graph_data, xtitle: "Percent of Votes", colors: choices_bar_colors, library: {backgroundColor: "#EFF4F5"}) %>
            <%= image_tag("Vote Icon.png", size: "30x30") %> 
            <b style="font-size: 19px; position: relative; top: -8px; left: 1px;">Voted!</b>
        </div>
<% else %>
    <%= form_for :question, as: :choice_id, url: question_choice_url(question, :choice_id), method: :patch do |f| %>
        <% choices.each do |choice| %>
            <div style="position: relative; top: -15px;">
                <%= f.radio_button :choice_id, choice.id %>      
                <%= choice.name %> 
            </div>
        <% end %>
        <%= f.submit "Vote" %>
    <% end %>
<% end %>
<br><br><br><br>



