<head>
    <%= stylesheet_link_tag 'question' %>
</head>

<!-- Question -->
<h2><%= question.description %></h2>

<!-- Choices Data -->
<% choices = question.choices.order('votes DESC') %>
<% if cookies[:voted_questions].to_s.include?(question.id.to_s) %>
        <!-- vote results chart -->
        <div style="width: 750px">
            <% #debugger %>
            <%= bar_chart choices.map { |choice| 
                {name: choice.name, data: {choice.name => choice.vote_percentage(question.total_votes).to_f}, color: choice.bar_color, xtitle: "Percent of Votes"}
            } %>
            <%= image_tag("Vote Icon.png", size: "30x30") %> 
            <b style="font-size: 19px; position: relative; top: -8px; left: 1px;">Voted!</b>
        </div>
<% else %>
    <%= form_for :question, as: :choice_id, url: question_choice_url(question, :choice_id), method: :patch do |f| %>
        <% choices.each do |choice| %>
            <div style="position: relative; top: -15px;">
                <%= f.radio_button :choice_id, choice.id %>      
                <%= choice.name %> 
            </div>
        <% end %>
        <%= f.submit "Vote" %>
    <% end %>
<% end %>
<br><br><br><br>



