<head>
    <%= stylesheet_link_tag 'question' %>
</head>

<!-- Question -->
<%= question.description %> 
<br>

<!-- Choices Data -->
<% choices = question.choices.order('votes DESC') %>
<% if cookies[:voted_questions].to_s.include?(question.id.to_s) %>
        <% choices.each do |choice| %>
            <div class="chart-wrap">
                <div class="grid horizontal">
                    <% if choice.votes == 1 %>
                        <%= choice.name %><div class="bar" style="--bar-value:100%" data-name="100%" title="Yes-<%= choice.votes %> vote"></div>
                    <% else %>
                        <%= choice.name %><div class="bar" style="--bar-value:30%" data-name="0%" title="No-<%= choice.votes %> votes"></div>
                    <% end %>   
                </div>  
            </div>
        <% end %>
        Voted!
<% else %>
    <%= form_for :question, as: :choice_id, url: question_choice_url(question, :choice_id), method: :patch do |f| %>
        <% choices.each do |choice| %>
            <div>
                <%= f.radio_button :choice_id, choice.id %>
                <% if choice.votes == 1 %>
                    <%= choice.name %> - <%= choice.votes %> vote
                <% else %>
                    <%= choice.name %> - <%= choice.votes %> votes
                <% end %>
            </div>
        <% end %>
        <%= f.submit "Vote" %>
    <% end %>
<% end %>
<br><br><br><br>

