<head>
    <%= stylesheet_link_tag 'question' %>
</head>

<div class="menu"></div>
<div class="ad_space_left"></div>
<div class="ad_space_right"></div>

<div class="top_section">
    <span class="logo_potus_forum"><%= link_to image_tag("POTUS Forum Logo.png", size: "230x34"), root_path(scroll_to_top: true) %></span>
    <a href="https://www.facebook.com/POTUSForum" target="_blank"><span class="logo_fb"><%= image_tag("FB Logo.webp", size: "32x32") %></span></a>
    <a href="https://www.youtube.com/channel/UC42uki3-P5VoT7HN2NC0xbQ" target="_blank"><span class="logo_yt"><%= image_tag("YT Logo.png", size: "45x45") %></span></a>
</div>
<br>

<% @questions.each do |question| %>
    <ul><%= render partial: 'question', locals: { question: question } %></ul>
<% end %>

<a href="mailto:hello@potusforum.com"><span class="contact"><%= "Contact" %></span></a>
<span class="copyright"><%= "© Copyright 2023 POTUS Forum" %></span>


