<head>
    <%= stylesheet_link_tag 'question' %>
</head>

<div class="menu"></div>
<div class="ad_space_left"></div>
<div class="ad_space_right"></div>

<div class="top_section">
    <span style="position: fixed; top: 53px; left: 146px; z-index: 1;"><%= link_to image_tag("POTUS Forum Logo.png", size: "230x34"), root_path(scroll_to_top: true) %></span>
    <a href="https://www.instagram.com/potusforum/" target="_blank" style="position: fixed; top: 11px; left: 285px; z-index: 1;"><%= image_tag("IG Logo.png", size: "32x32") %></a>
    <a href="https://x.com/PotusForum" target="_blank" style="position: fixed; top: 11px; left: 197px; z-index: 1;"><%= image_tag("X Logo.png", size: "31x31") %></a>
    <a href="https://www.facebook.com/thepotusforum" target="_blank" style="position: fixed; top: 10px; left: 240px; z-index: 1;"><%= image_tag("FB Logo.webp", size: "31x31") %></a>
    <!-- <a href="https://www.youtube.com/channel/UC42uki3-P5VoT7HN2NC0xbQ" target="_blank" style="position: fixed; top: 7px; left: 144px; z-index: 1;"><%= image_tag("YT Logo.png", size: "40x40") %></a> -->
    <!-- <a href="https://discord.com/channels/1244033008319725618/1244033008319725622" target="_blank" style="position: fixed; top: 11px; left: 333px; z-index: 1;"><%= image_tag("Discord Logo.png", size: "32x32") %></a> -->
</div>
<br>

<% @questions.each do |question| %>
    <ul><%= render partial: 'question', locals: { question: question } %></ul>
<% end %>

<a href="mailto:hello@potusforum.com"><span style="position: relative; bottom: 20px; left: 141px; color: blue; z-index: 1;"><%= "Contact" %></span></a>
<span class="copyright"><%= "© Copyright 2024 POTUS Forum" %></span>