<head>
    <%= stylesheet_link_tag 'question' %>
</head>

<div class="menu"></div>
<div class="ad_space_left"></div>
<div class="ad_space_right"></div>

<div class="top_section">
    <!-- JS used to prevent interference with chart rendering caused by <a> html tag -->
    <span class="logo_potus_forum" id="forum-logo-clickable"><%= image_tag("POTUS Forum Logo.png", size: "230x34") %></span>
    <script> 
        document.getElementById("forum-logo-clickable").addEventListener("click", function() {
            window.location.href = "<%= questions_url %>";
        });
    </script>
    <a href="https://www.facebook.com/POTUSForum" target="_blank"><span class="logo_fb"><%= image_tag("FB Logo.webp", size: "32x32") %></span></a>
    <a href="https://www.youtube.com/channel/UC42uki3-P5VoT7HN2NC0xbQ" target="_blank"><span class="logo_yt"><%= image_tag("YT Logo.png", size: "45x45") %></span></a>
</div>
<br>

<% @questions.each do |question| %>
    <ul><%= render partial: 'question', locals: { question: question } %></ul>
<% end %>

<a href="mailto:hello@potusforum.com"><span class="contact"><%= "Contact" %></span></a>
<span class="copyright"><%= "© Copyright 2023 POTUS Forum" %></span>


