<!DOCTYPE html>
<html>
  <head>
    <title>POTUS Forum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'jquery3' %> <!-- Added per ChatGPT, 11/4/23 --> 
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= favicon_link_tag 'PF Logo.png' %>  

    <!-- Added per ChatGPT, 5/24/24 to account for only scrolling once to question user votes on --> 
    <% if session[:scroll_to_voted_question] %>
      <% session[:scroll_to_voted_question] = true %> 
      <script>
        sessionStorage.setItem("scroll_to_voted_question", "true");
      </script>
    <% end %>                                                                                               
  </head>

  <body>
    <%= yield %>
  </body>
</html>


