<!DOCTYPE html>
<html>
  <head>
    <title>POTUS Forum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'jquery3' %> <!-- Added per ChatGPT, 11/4/23 --> 
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= favicon_link_tag 'PF Logo.png' %>                                                                                   
  </head>

  <body>
    <%= yield %>
    <script 
      data-goatcounter="https://goatcounter-x0b2.onrender.com/count"
      async src="//goatcounter-x0b2.onrender.com/count.js">
    </script>
  </body>
  <% session[:voted_question_id] = nil %>   
</html>


